:root {
    --space-xs: clamp(0.5rem, 1vw, 0.75rem);
    --space-sm: clamp(0.75rem, 2vw, 1rem);
    --space-md: clamp(1rem, 3vw, 1.5rem);
    --space-lg: clamp(1.5rem, 5vw, 3rem);
    --space-xl: clamp(2rem, 8vw, 6rem);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    color: white;
    font-size: large;
}

body {
    background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-center {
    text-align: center;
}

.flex-1 {
    flex: 1
}

.flex {
    display: flex;
}

.ascii-art {
    white-space: pre;
    text-wrap-mode: nowrap;
    white-space-collapse: preserve;
    word-break: break-word;
    line-height: 1.4;
    letter-spacing: 0;
    font-family: 'Courier New', Courier, monospace;
    overflow: auto;
}

.font-xs {
    font-size: var(--space-xs);
}

.font-sm {
    font-size: var(--space-sm);
}

.justify-center {
    justify-content: center;
}

.gap-xs {
    gap: var(--space-xs);
}

.gap-sm {
    gap: var(--space-sm)
}

.gap-md {
    gap: var(--space-md);
}

.w-100 {
    width: 100%;
}

.w-auto {
    width: auto;
}

.w-fixed {
    width: 100%;
    max-width: 400px;
}

.p-sm {
    padding: var(--space-sm)
}

.p-md {
    padding: var(--space-xl);
}

.justify-right {
    justify-content: right;
}

.justify-between {
    justify-content: space-between;
}